.ProfessionalExperienceCards{

    background: #bae8bab0;

    .width-logo-top{
        width: 70%;
        height:125px;
        margin-left: 15%;
    }

    .width-logo-down{
        width: 35%;
        margin-left: 32.5%;
    }

}


