.Menu{
    
    color: #FFFFFF;



    .image-cv{
        height: 60px;
    }

    @media (min-width: 0px) {   
        .image-cv{
            height: 40px;
        }
    }

    @media (min-width: 400px ) { 
        .image-cv{
            height: 52px;
        }
    }

    @media (min-width: 600px ) { 
        .image-cv{
            height: 60px;
        }
    }

    .form-element{

        input, label{
            cursor:pointer;
        }

    }

}


