.TecnologiesCards{

    background: #bae8bab0;

    .width-logo-top{
        width: 70%;
        margin-left: 15%;
        height: 125px;
    }

    .width-logo-top.Angular, .width-logo-top.jQuery, .width-logo-top.Drools, .width-logo-top.Pentaho {
        width: 90%;
        margin-left: 5%;
    } 

    .width-logo-top.Sass{
        width: 50%;
        margin-left: 25%;
    } 

    .width-logo-top.XSLT{
        width: 38%;
        margin-left: 31%;
    }

    .width-logo-top.ECMAScript, .width-logo-top.Spring{
        width: 40%;
        margin-left: 30%;
    }

    .width-logo-top.Git, .width-logo-top.ZK{
        width: 60%;
        margin-left: 20%;
    }

    .width-logo-top.Java{
        width: 55%;
        margin-left: 23%;
    }

    .width-logo-top.HTML5, .width-logo-top.JavaScript, .width-logo-top.Birt{
        width: 34%;
        margin-left: 33%;
    }   

    .width-logo-top.d3js{
        margin-left: 30%;
        width: 40%;
    }

    .width-logo-top.Gulp{
        margin-left: 40%;
        width: 20%;
    }

    .width-logo-top.SVN{
        margin-left: 26%;
        width: 48%;
    }

    .margin-body-card{
        margin-left: 15%;
        margin-right: 15%;
    }

    .icono-tec{

        color: #0c7a9c !important;
        font-size: 2.5rem;

    }

}


