.TecnologiesCards{

    background: #7ca97ceb;

    .width-logo-top{
        width: 70%;
        margin-left: 15%;
        height: 125px;
    }

    .width-logo-top.Angular, .width-logo-top.Drools, .width-logo-top.Pentaho {
        width: 90%;
        margin-left: 5%;
    } 

    .width-logo-top.jQuery{
        width: 76%;
        margin-left: 12%;
    }        

    .width-logo-top.Sass{
        width: 50%;
        margin-left: 25%;
    } 

    .width-logo-top.XSLT{
        width: 38%;
        margin-left: 31%;
    }

    .width-logo-top.ECMAScript, .width-logo-top.Spring, .width-logo-top.JSPM{
        width: 40%;
        margin-left: 30%;
    }

    .width-logo-top.Git, .width-logo-top.ZK{
        width: 60%;
        margin-left: 20%;
    }

    .width-logo-top.Java{
        width: 55%;
        margin-left: 23%;
    }

    .width-logo-top.HTML5, .width-logo-top.JavaScript, .width-logo-top.Birt{
        width: 34%;
        margin-left: 33%;
    }   

    .width-logo-top.d3js{
        margin-left: 30%;
        width: 40%;
    }

    .width-logo-top.Gulp{
        margin-left: 40%;
        width: 20%;
    }

    .width-logo-top.SVN{
        margin-left: 26%;
        width: 48%;
    }

    .margin-body-card{
        margin-left: 15%;
        margin-right: 15%;
    }

    .icono-tec{

        color: #0c7a9c !important;
        font-size: 2.5rem;

    }

    .enlace-git-bit{
        color: #0c7a9c;
        font-weight: 700;
    } 

    .bar-colors .v10, .bar-colors .v9, .bar-colors .v8, .bar-colors .v7, .bar-colors .v6, .bar-colors .v5, .bar-colors .v4, .bar-colors .v3, .bar-colors .v2, .bar-colors .v{
        height: 11px;
        position: absolute;
        width: 20px;
        bottom: 0;
    }

    .bar-colors .v{
        background: rgb(255, 0, 0);
        left: 0px;
    }    

    .bar-colors .v2{
        background: rgba(255, 0, 0, 0.8);
        left: 25px;	
    }

    .bar-colors .v3{
        background: rgba(255, 0, 0, 0.7);
        left: 50px;
    }
        
    .bar-colors .v4{
        background: rgba(255, 0, 0, 0.5);
        left: 75px;
    }

    .bar-colors .v5{
        background: rgba(255, 0, 0, 0.3);
        left: 100px;
    }

    .bar-colors .v6{
        background: rgba(73, 255, 0, 0.3);
        left: 125px;
    }

    .bar-colors .v7{
        background: rgba(73, 255, 0, 0.5);
        left: 150px;
    }

    .bar-colors .v8{
        background: rgba(73, 255, 0, 0.70);
        left: 175px;
    }

    .bar-colors .v9{
        background: rgba(73, 255, 0, 0.80);
        left: 200px;
    }

    .bar-colors .v10{
        background: rgba(73, 255, 0, 1);
        left: 225px;
    }

    .bar-colors .no-color-barcolors{
        background: #d3d3d357;       
        display:none; 
    }

}


