.TecnologiesCards{

    background: #bae8bab0;

    .width-logo-top{
        width: 70%;
        margin-left: 15%;
    }

    .margin-body-card{

        margin-left: 15%;
        margin-right: 15%;

    }

}


