.CorporationTechnologies{

    .toolbar-corporation{
        min-height: 70px;
    }

    .logo-toolbar-corporation{
        height: 100%;
        width: 105px;
    }

    .hashtag-style-toolbar{
        color:white;
        background: transparent;
        font-weight: bold;        
    }

}