.App{

    .height-no-nav{
        height: calc(100% - 142px);
    }

    & .bg{
        background: url("/../img/pc-nature_opt.jpg") no-repeat center center fixed;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .icono-font{
        font-size: 2.5rem;
        color: #FFFFFF !important;
    }

    .cursor-pointer{
        cursor: pointer;
    }

    .no-selectable{
        -moz-user-select: none; 
        -webkit-user-select: none; 
        -ms-user-select:none; 
        user-select:none;
        -o-user-select:none;
    }

    .title-section{

        font-family: "Roboto_condensed";
        font-weight: bold;
        color: #FFFFFF;
        font-size: 1.4rem;
        line-height: 1.1875rem;
        letter-spacing: 0rem;

    }

    .subtitle-section{

        color: #FFFFFF;
        font-size: 1rem;
        
    }

    .hashtag-style{

        color: #002e70;
        background: transparent;
        font-weight: bold;

    }

    .card-group [class*='col-'] {
        float:none;
    }

    .border-section{

        & > div{

            border: 1px solid #FFFFFF;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-radius: 0;

        }
        
    }

    .border-section-bottom{

        border: 1px solid rgba(0,0,0,.125);
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        
    }

    .background-transparent{
        background: transparent;
    }    

    .background-semitransparent{
        background: rgba(46, 88, 46, 0.6);
    }    

    .button-enlace {

        a{
            display: 'block';
            height: "100%";
            color: white;
            text-decoration: none;
        }

    }

    // START Nivel de experiencia (utilizado en Technologies Cards y Languages Cards)
    .bar-colors{
        height: 0px;
    }

    .bar-colors .v10, .bar-colors .v9, .bar-colors .v8, .bar-colors .v7, .bar-colors .v6, .bar-colors .v5, .bar-colors .v4, .bar-colors .v3, .bar-colors .v2, .bar-colors .v{
        height: 11px;
        position: absolute;
        width: 20px;
        top: 25%;
    }

    .bar-colors{

        &.color1{

            div{
                background: rgb(255, 0, 0);
            }

        }

        &.color2{

            div{
                background: rgba(255, 0, 0, 0.8);
            }

        }

        &.color3{

            div{
                background: rgba(255, 0, 0, 0.7);
            }

        }

        &.color4{

            div{
                background: rgba(255, 0, 0, 0.5);
            }

        }

        &.color5{

            div{
                background: rgba(255, 0, 0, 0.3);
            }

        }

        &.color6{

            div{
                background: rgba(73, 255, 0, 0.3);
            }

        }

        &.color7{

            div{
                background: rgba(73, 255, 0, 0.5);
            }

        }

        &.color8{

            div{
                background: rgba(73, 255, 0, 0.70);
            }

        }

        &.color9{

            div{
                background: rgba(73, 255, 0, 0.80);
            }

        }

        &.color10{

            div{
                background: rgba(73, 255, 0, 1);
            }

        }

        div{
            
            left: 0px;
        }

        .v{
            left: 0px;
        }

        .v2{
            left: 25px;	
        }

        .v3{
            left: 50px;
        }

        .v4{
            left: 75px;
        }

        .v5{
            left: 100px;
        }

        .v6{
            left: 125px;
        }

        .v7{
            left: 150px;
        }

        .v8{
            left: 175px;
        }

        .v9{
            left: 200px;
        }

        .v10{
            left: 225px;
        }

        .no-color-barcolors{
            background: #d3d3d357;       
            display:none; 
        }
       
    }

    //END Nivel de experiencia (utilizado en Technologies Cards y Languages Cards)

    //Technologies Cards y Languages Cards
    .margin-body-card{
        margin-left: 15%;
        margin-right: 15%;
    }

}
