.App{

    .icono-font{
        font-size: 2.5rem;
    }

    .cursor-pointer{
        cursor: pointer;
    }

    .no-selectable{
        -moz-user-select: none; 
        -webkit-user-select: none; 
        -ms-user-select:none; 
        user-select:none;
        -o-user-select:none;
    }

}
