.KnowLedgeType{

    background: #bae8bab0;

    .button-enlace {

        a{
            display: 'block';
            height: "100%";
            color: white;
            text-decoration: none;
        }

    }

}


