.KnowLedgeType{

    background: #bae8bac4;

    .button-enlace {

        a{
            display: 'block';
            height: "100%";
            color: white;
            text-decoration: none;
        }

    }

    .card-footer{
        background: rgba(46, 88, 46, 0.6);
    }

}


